body {
  background-color: #d9d9d9;
}

h1 {
	margin-top: 50px;
}

.table {
	margin-top: 30px;
}

.main-home-container {
	margin-top: 50px;
}


.main-glyph {
	background: none;
	font-size: 100px;
	display:block;
  text-align:center;
  margin-bottom: 30px;
  color: #777777;
}

.search-div {
	width: 200px;
	padding-bottom: 30px;
}


.panel-title {
	font-size: 25px;
}
